html,
body {
  height: 100%;
  margin: 0;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

.container {
  flex: 1;
}

.footer {
  background-color: #1b1b1b;
  color: white;
  text-align: center;
  padding: 20px;
}
